* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body {
    margin-top: 100px;
    margin-bottom: 100px;
}
#fullbox {
    max-width: 1604px;
    width: 100%;
    margin: 0 auto;
    padding: 96px;
    background-color: #E4EBFF;
}
#box {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 96px 0px;
    background-color: #FFF;
}
#heading {
    text-align: center;
    margin-bottom: 96px;
}
#features {
    color: #6941C6;
    font-size: 16px;
}
h1 {
    color: #181D27;
    font-size: 40px;
    margin-top: 12px;
    margin-bottom: 32px;
}
#powerful {
    color: #535862;
    font-size: 20px;
}
#shareteam {
    color: #181D27;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 16px;
}
#whether {
    color: #535862;
    font-size: 18px;
}
#wichkebi {
    vertical-align: middle;
    margin-top: 32px;
    display: inline-block;
}
#wichkerti {
    display: inline-block;
    
}
#wichkerti > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;

}
#wichkori > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;
}
#wichksami > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;
}
#wichkerti > img {
    vertical-align: middle;
}
#wichkori > img {
    vertical-align: middle;
}
#wichksami > img {
    vertical-align: middle;
}
#boxone {
    padding: 0px 32px;
    width: 1280px;
    display: inline-block;
    margin-bottom: 96px;
}
#right {
    vertical-align: middle;
    display: inline-block;
}
#left {
    vertical-align: middle;
    display: inline-block;
    width: 553px;
}
#wichkori {
    margin-top: 20px;
    margin-bottom: 20px;
}

#chatimg {
    padding: 12px;
    border-radius: 9999px;
    background-color: #F4EBFF;
}
#zapimg {
    padding: 12px;
    border-radius: 9999px;
    background-color: #F4EBFF;
}
#deliver {
    font-size: 24px;
    color: #181D27;
    margin-top: 20px;
}
#an {
    color: #535862;
    margin-top: 16px;
    margin-bottom: 32px;
}
#wichkebii {
    vertical-align: middle;
    display: inline-block; 
}
#wichkerti > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;

}
#wichkone > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;
}
#wichkthree > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;
}
#wichkone > img {
    vertical-align: middle;
}
#wichktwo > img {
    vertical-align: middle;
}
#wichkthree > img {
    vertical-align: middle;
}
#wichktwo > p {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    color: #535862;
    font-size: 18px;
}
#rightone {
    display: inline-block;
    vertical-align: middle;
    width: 520px;
    margin-left: 101px;
}
#leftone {
    vertical-align: middle;
    display: inline-block;
}
#boxtwo {
    padding-right: 32px;
}
#boxoneee {
    padding: 0px 32px;
    width: 1280px;
    display: inline-block;
    margin-top: 96px;
}
#lefttt {
    vertical-align: middle;
    display: inline-block;
    width: 553px;
}
#chatimgg {
    padding: 12px;
    border-radius: 9999px;
    background-color: #F4EBFF;
}
#shareteamm {
    color: #181D27;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 16px;
}
#whetherr {
    color: #535862;
    font-size: 18px;
}
#wichkebbi {
    vertical-align: middle;
    margin-top: 32px;
    display: inline-block;
}
#wichkertii {
    display: inline-block;
    
}
#wichkertii > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;

}
#wichkorii > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;
}
#wichksamii > p {
    color: #535862;
    font-size: 18px;
    display: inline-block;
}
#wichkertii > img {
    vertical-align: middle;
}
#wichkorii > img {
    vertical-align: middle;
}
#wichksamii > img {
    vertical-align: middle;
}
#wichkorii {
    margin-top: 20px;
    margin-bottom: 20px;
}
#rightt {
    vertical-align: middle;
    display: inline-block;
}
